body{
  margin: 0;
  padding: 0;
  background: $dark-bg;
  color: #fffff2;
  font-family: poppins, sans-serif;
  font-weight: 100;
}

h4, h3, p{
  font-weight: 100;
}

.thin{
  font-weight: 200;
}

.italic{
  font-style: italic;
}

.container{
  width: 90%;
  margin: 0 auto;
}