.header{
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  .navigation{
    display: flex;
    flex-direction: row;
    gap: 15px;
      a{
        text-decoration: none;
        text-transform: uppercase;
      }
  }
}