.home{
  h1{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    background-image: $gradient;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}