.home{
  min-height: 100vh;
  div{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
    h1{
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 400;
      background: linear-gradient(
        to right,
        #FEAC5E 20%,
        #C779D0 30%,
        #4BC0C8 70%,
        #FEAC5E 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    }

    h1, h3, h4{
      margin: 0;
    }
    h4{
      max-width: 400px;
    }
  }
}

.home-messages{
  margin-top: 90px;

  p{
    margin-top: 0;
    margin-bottom: 60px;
    max-width: 800px;
  }
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

/* Ipad2 (portrait) ----------- */
@media screen and (min-width : 768px){
  .home{
    div{
      h1{
        font-size: 5rem;
      }
    }
  }
  .home-messages{
    p{
      width: 80%;
    }
  }
}

// /* Ipad2 (paysage) ----------- */
// @media only screen and (min-width : 1024px){...}

// /* Ordi (Petit) ----------- */
// @media only screen and (min-width : 1224px){...}

// /* Desktops and laptops ----------- */
// @media only screen and (min-width : 1824px){...}