.portfolio{
  margin: 0 auto;
  img{
    width: 100%;
  }
  .rainbow-text{
    font-size: 1.5rem;
    background: linear-gradient(
      45deg,
      #FEAC5E 20%,
      #C779D0 30%,
      #4BC0C8 70%,
      #FEAC5E 80%
  );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
  }
  .gradient-border {
    --borderWidth: 1px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(
      45deg,
      #FEAC5E 20%,
      #C779D0 30%,
      #4BC0C8 70%,
      #FEAC5E 80%
  );
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: textShine 3s ease alternate infinite;
    background-size: 300% 300%;
  }
    .img-overlay{
      display: none;
    }
 
  .tech-stack{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 3px;
    column-gap: 5px;
    margin-bottom: 30px;
    margin-top: 7px;
    a{
      margin-top: -10px;
    }
    .tech-item{
      font-size: 0.8rem;
      padding: 3px 5px;
      margin: 0 5px 10px 0;
      font-weight: 300;
    }
  }
}

@media screen and (min-width : 992px){
  .portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .portfolio-item{
      .img-container{
        position: relative;
        .img-link{
          img{
            display: block;
            position: relative;
            top: 6px;
            height: 100%;
            width: 100%;
          }
        }
        .img-overlay{
          background: linear-gradient(
          45deg,
          #FEAC5E 20%,
          #C779D0 30%,
          #4BC0C8 70%,
          #FEAC5E 80%,
          );
          background-size: 500% auto;
          animation: textShine 5s ease-in-out infinite alternate;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 6px;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: opacity 0.3s ease-in-out;

          &:hover{
            opacity: 1;
          }

          .img-text{
            height: 90%;
            width: 90%;
            background: rgba(28, 28, 28, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            div{
              width: 70%;
              h2{
                font-size: 3rem;
                text-transform: capitalize;
                font-weight: 300;
                margin-bottom: 0px;
              }
              h3{
                margin-top: 0;
              }
              .porfolio-links{
                margin: 0 auto;
                display: flex;
                justify-content: center;
                gap: 30px;
              }
            }
          }
        }
      }
      .tech-stack{
        margin-top: 16px;
      }
    }
  }
}